body {
    background-color: #529ff6;
}

.sky {
    margin: 100px;
}

.moon {
    background-color: #e0e2e4;
    border-radius: 50%;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    height: 120px;
    left: 130px;
    position: absolute;
    width: 120px;
}

.moon::after {
    background: #529ff6;
    border-radius: inherit;
    content: "";
    display: inline-block;
    position: relative;
    height: 80px;
    top: -10px;
    width: 80px;
}
.cloud {
    background: #9da2a5;
    border-radius: 100px;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    height: 100px;
    margin-top: 70px;
    position: absolute;
    width: 300px;
    z-index: 0;
}

.cloud::after, .cloud::before {
    background: inherit;
    border-radius: inherit;
    content: "";
    display: inline-block;
    position: relative;
}

.cloud::after {
    height: 100px;
    left: -100px;
    top: -90px;
    width: 100px;
}
.cloud::before {
    height: 160px;
    left: 130px;
    top: -70px;
    width: 150px;
}

/* Only change code below this line */

.moon {
    z-index: -1;
}