* {
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(#007777,#004444);
    background-attachment: scroll;
}
.header {
    top: 0px;
    left: 0px;
    right: 0px;
    /*write here*/
    position: fixed;}/*зафиксировали шапку*/


/*
.header {
    height: 50px;
    background-color: rgba(0,0,0,.9);
    border: 1px solid lightgray;
}*/

.navigation ol {
    display: flex;
    justify-content: flex-end;
    background: #004444;
    list-style-type: none;
}
a {text-decoration: none;}

.navigation a {
    padding: 1em 2em 1em 2em;  /*top right bottom left*/
    display: block;
    color: white;
    background: #004444;
}

.navigation a:hover {background: #007777}/*подсветка при наведении*/

.myName {
    display: flex;
    width: auto;
    height: 650px;
    /*background-image: linear-gradient(#007777,#004444);*/
}

h1 {
    font-size: 40pt;
    margin-top: 450px;
    margin-left: 50px;
    margin-bottom: 70px;

}

/*h1 {
    animation-name: change-font-size;
    animation-duration: 5s;
}*/

#about {

    margin-bottom: 20px;
    text-align: center;
    font-size: 20pt;

}

#aboutImagine {
    margin-top: 70px;
    margin-right: 50px;
    margin-left: 100px;
    float: left;
    opacity: 0.2; /*transparient for 0 to 1*/

}

.aboutText {
    margin-top: 250px;
    text-align: left;
    font-size: 16pt;
    line-height: 2;
}
.aboutFlex {
    height: 650px;
    width: auto;
    /*background-image: linear-gradient(#007777,#004444);*/
}


.portfolio {
    width: auto;
    height: 650px;
    display: flex;

}
.headportfolio {
    margin-left: 550px;
    margin-bottom: 20px;
    /*text-align: center;*/
    font-size: 20pt;
}
.flashing1 {
    margin-top: 100px;
    margin-left: -280px;
}
.flashing3 {
    margin-top: 320px;
    margin-left: -240px;
    font-size: 16pt;
}

.flashing2 {
    margin-top: 380px;
    margin-left: -245px;
}
.flashing4 {
    margin-top: 600px;
    margin-left: -260px;
    font-size: 16pt;
}
.contacts {
    width: auto;
    height: 650px;
    display: flex;
    flex-direction: column;
    margin-left: 550px;
}
.headcontacts {
    margin-top: 50px;
    margin-bottom: 30px;
    /*text-align: center;*/
    font-size: 20pt;
}
.contactme {
    font-size: 18pt;
    line-height: 2;
    margin-left: -100px;

}
footer {
    width: auto;
    height: 250px;
    background-color: black;
    font-size: 18px;
    color: #e0e2e4;
    text-align: center;
    top: 100px;
}
/*@keyframes change-font-size {
    from {
        font-size: 100%;
    }
    50% {
        font-size: 150%;
    }
    to {
        font-size: 100%;
    }
}*/
